body {
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1em;
}

dl {
  margin: 0 auto;
}

dt {
  font-weight: 700;
}
dd {
  margin-left: 0;
  margin-bottom: 1em;
}
dt,
dd {
  padding: 10px;
}

button.btn--edit,
button.btn--save {
  margin-top: 1em;
}

.error-message {
  color: red;
}

.status-message {
  color: green;
}
